.movie-container {
	margin: 1rem;
	border: 1px solid #33333333;
	max-height: 430px;
	margin: 0 40px 40px 0;
	img {
		max-height: 100%;
		max-width: 100%;
		width: 500px;
		height: auto;
		transition: all 0.3s;
	}
}
