.movie-details-container {
	position: fixed;
	inset: 0;
	width: 100%;
	padding: 1rem;

	.background {
		transition: 0.4s ease;
		animation: fadeIn 1s;
		height: 600px;
		background-size: 50%, cover !important;
		background-position: 50%, 50%;
	}

	.hero-details {
		position: absolute;
		top: 1rem;
		right: 1rem;
		max-width: 75%;
		width: 75%;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 0 2rem;
		color: #fff;

		h1 {
			font-size: 2.5rem;
		}

		h3 {
			margin: 0.5rem 0;
		}

		ul {
			list-style-type: none;
			display: flex;
			li {
				margin-right: 1rem;
			}
		}

		p {
			&.vote-average {
				display: inline-block;
				margin-left: 0.5rem;
			}
		}
	}

	.movie-extra-details {
		background-color: #1c1c1c;
		color: #fff;
		padding: 1.75rem 1rem;
		display: flex;
		justify-content: center;
		align-items: center;

		.running-time,
		.budget,
		.revenue {
			display: flex;
			align-items: center;
			margin: 0 3rem;

			& > p {
				display: inline-block;
				margin-left: 0.5rem;
				font-size: 1.25rem;
				letter-spacing: -1px;
			}
		}

		.budget {
			.budget-text {
				margin: 0 0.5rem;
			}
			& > p {
				display: inline-block;
				margin-left: 0;
			}
		}

		.revenue {
			.revenue-text {
				margin: 0 0.5rem;
			}
			& > p {
				display: inline-block;
				margin-left: 0;
			}
		}

		.icon {
			font-size: 2rem;
		}
	}
}
